/* 
 * FONT ICON
 */

$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
// $fa-font-path:        "../fonts" !default;
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
$fa-css-prefix:       fa !default;
$fa-version:          "4.7.0" !default;

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

.#{$fa-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$fa-css-prefix}-tag:before { content: "\f02b"; }
.#{$fa-css-prefix}-tags:before { content: "\f02c"; }
.#{$fa-css-prefix}-caret-right:before { content: "\f0da"; }
.#{$fa-css-prefix}-folder-open-o:before { content: "\f115"; }
.#{$fa-css-prefix}-heart:before { content: "\f004"; }
.#{$fa-css-prefix}-facebook:before { content: "\f09a"; }
.#{$fa-css-prefix}-twitter:before { content: "\f099"; }
.#{$fa-css-prefix}-github:before { content: "\f09b"; }
.#{$fa-css-prefix}-angle-right:before { content: "\f105"; }
.#{$fa-css-prefix}-rss:before { content: "\f09e"; }




